@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --clr-1: hsl(0, 0%, 100%);
    --clr-2: hsl(275, 100%, 97%);
    --clr-3: hsl(292, 16%, 49%);
    --clr-4: hsl(292, 42%, 14%);
    --clr-5: rgb(173, 40, 235);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family:"Work Sans", sans-serif;
    font-size: 16px;
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--clr-2);
    display: grid;
    justify-content: center;
    align-items: center;
}

#main {
    border-radius: 10px;
    width: 700px;
    padding: 10px;
    background-color: var(--clr-1);
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin: 0;
}

h2:hover {
    color: var(--clr-5);
}

.accordion {
    border: none;
    outline: none;
    width: 100%;
    margin: 2px 20px;
    background-color: var(--clr-1);
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
}

.panel {
    margin: 2px 20px;
    display: none;
}

#icon-star {
    width: 22px;
    margin-right: 10px;
}

#main-title {
    margin-left: 25px;
}
